<odoo>
    <!-- Main menu -->
    <menuitem id="menu_bike_rental_root"
              name="Bike Rental"
              sequence="10"/>

    <!-- Sub-menu : bikes -->
    <menuitem id="menu_bike_models"
              name="Bikes"
              parent="menu_bike_rental_root"
              action="action_bike_models"
              sequence="1"/>

    <!-- Sub-menu : contracts -->
    <menuitem id="menu_bike_rental_contracts"
              name="Rental Contracts"
              parent="menu_bike_rental_root"
              action="action_bike_rental_contracts"
              sequence="2"/>

    <!-- Sub-menu : availability -->
    <menuitem id="menu_bike_availability" 
              name="Availability"  
              parent="menu_bike_rental_root" 
              action="action_bike_availability_wizard" 
              sequence="3"/>
    
    <!-- Sub-menu : rental Invoices -->
    <menuitem id="menu_rental_invoices"
          name="Rental Invoices"
          parent="menu_bike_rental_root"
          action="action_rental_invoices"
          sequence="4"/>
</odoo>